{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps {:mvn/version "0.18.1335"}
        clj-kondo/clj-kondo {:mvn/version "2023.04.14"}
        datalevin/datalevin {:mvn/version "0.8.14"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}
 :aliases
 {:extract {:ns-default codes.clj.docs.extractor.core
            :exec-fn extract!}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
          :ns-default build
          :exec-args {:uber-file "target/extractor.jar"}}

  :dev {:extra-paths ["test" "test-resources"]
        :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.82.1306"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                      nubank/mockfn                 {:mvn/version "0.7.0"}
                      nubank/matcher-combinators    {:mvn/version "3.8.5"}}}

  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test {:main-opts ["-m" "kaocha.runner"]
         :jvm-opts  ["-Xms3g" "-Xmx3g"]}}}
