{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}
        org.clojure/tools.deps {:mvn/version "0.19.1417"}
        clj-kondo/clj-kondo {:mvn/version "2024.03.13"}
        datalevin/datalevin {:mvn/version "0.9.3"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.12"}}

 :aliases
 {:extract {:ns-default codes.clj.docs.extractor.core
            :exec-fn extract!
            ; needed for datalevin on jvm > 11
            :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                       "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.0"}}
          :ns-default build
          :exec-args {:uber-file "target/extractor.jar"}}

  :dev {:extra-paths ["dev" "test" "test-resources"]
        :extra-deps  {clj-http/clj-http             {:mvn/version "3.12.3"}
                      lambdaisland/kaocha           {:mvn/version "1.87.1366"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                      nubank/mockfn                 {:mvn/version "0.7.0"}
                      nubank/matcher-combinators    {:mvn/version "3.9.1"}}
        ; needed for datalevin on jvm > 11
        :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}

  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.47.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test {:main-opts ["-m" "kaocha.runner"]
         :jvm-opts  ["-Xms3g" "-Xmx3g"]}

  :clojure-lsp {:replace-deps {com.github.clojure-lsp/clojure-lsp-standalone {:mvn/version "2024.04.22-11.50.26"}}
                :main-opts ["-m" "clojure-lsp.main"]}}}
