{:deps {org.clojure/clojure
        {:git/url "https://github.com/clojure/clojure"
         :git/tag "clojure-1.11.1"
         :git/sha "ce55092f2b2f5481d25cff6205470c1335760ef6"}
        org.clojure/clojurescript
        {:git/url "https://github.com/clojure/clojurescript"
         :git/tag "r1.11.60"
         :git/sha "e7cdc70d0371a26e07e394ea9cd72d5c43e5e363"}}}
